# Firebase
# 안드로이드 앱용 Firebase 설정 파일
app/google-services.json


# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Android Studio
.idea/
*.iml

# Log Files
*.log

# Android Studio captures folder
captures/

# External native build folder
.externalNativeBuild/
.cxx/

# Google Cloud Vision API Key
app/src/main/res/raw/vision_key.json
app/src/main/res/raw/vision_credentials.json

